html {
  height: 100%;
  width: 100%;
}

header {
  background-color: #0c9ddd;
  margin: -10px;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
}


.logo {
  width: 100px;
  display: inline-block;
  position: relative;
  left: 20px;
  top: 15px;

}

nav,
ul,
li {
  display: inline-block;
}

a {
  margin: 80px;
  text-align: center;
  color: white;

}

#menu-centre {
  text-align: center;
  position: relative;
  bottom: 60px;
}

footer {
  background-color: #0c9ddd;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: -10px;
  text-align: center;
  color: white;
  padding-top: 10px;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 50px lime;
  border-radius: 10px;
  margin-top: 120px;
  margin-left: 250px;
}

#text {
  margin: 60px auto;
  position: absolute;
  left: 630px;
  top: 50px;
}

#text h1 {
  font-size: 37px;
}

#text2 {
  margin: 60px auto;
  position: absolute;
  left: 630px;
  top: 470px;
}

#text2 h1 {
  font-size: 37px;
}

#text3 {
  margin: 60px auto;
  position: absolute;
  left: 630px;
  top: 890px;
}

#text3 h1 {
  font-size: 37px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0c9ddd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}